.loading-home-page {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.message {
  border: 1px ridge greenyellow;
  position: relative;
  color: #fff;
}

.message-animation {
  animation: message-animation 3s ease-in-out infinite normal forwards;
}

@keyframes message-animation {
  0% {
    left: -30px;
  }
  25% {
    border-color: #ff6868;
    color: #ff6868;
  }
  50% {
    left: 30px;
    border-color: aqua;
    color: aqua;
  }
  75% {
    border-color: #a55df7;
    color: #a55df7;
  }
  100% {
    left: -30px;
  }
}
